.popup__close {
  width: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
	cursor: pointer;
	transition: .5s;
}

.popup__close:hover {
	transform: scale(1.2);
}

@media screen and (max-width: 1024px) {
  .popup__close:hover {
    transform: none;
  }
}

@media screen and (max-width: 767px) {
  .popup__close {
    top: -36px;
    right: 16px;
    width: 24px;
  }
}