.header__navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 104px;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .header__navigation {
    padding: 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .header__navigation {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 16px;
  }
}