.header__mobile-icon {
  display: none;
  width: 24px;
  height: 24px;
  cursor: url('../../../images/lapka.png'), pointer;
}

@media screen and (max-width: 767px) {
  .header__mobile-icon {
    display: block;
  }
}