.popup__content {
  width: 430px;
  min-height: 380px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  padding: 34px 36px;
}


@media screen and (max-width: 767px) {
  .popup__content {
    width: 100vh;
    margin-top: 56px;
    height: calc(100vh - 56px);
    padding: 16px;
  }
}