.about-author__photo-me {
  width: 100%;
  max-width: 464px;
}

@media screen and (max-width: 1024px) {
  .about-author__photo-me {
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .about-author__photo-me {
    margin-top: 0;
    max-width: 100%;
    margin-bottom: 24px;
  }
}