.article__tip {
  font-family: 'Roboto', serif;
  font-size: 12px;
  line-height: 14px;
  color: #000;
  font-weight: bold;
  background-color: #fff;
  padding: 13px 12px;
  position: absolute;
  border-radius: 10px;
  top: 24px;
  right: 69px;
  height: 40px;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .article__tip {
    top: 84px;
    right: 22px;
  }
}

@media screen and (max-width: 1024px) {
  .article__tip {
    top: 56px;
    right: 4px
  }
}

@media screen and (max-width: 767px) {
  .article__tip {
    padding: 6px 10px;
    width: 150px;
    top: 69px;
    right: 16px;
  }
}