<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Мои статьи - NewsExplorer</title>
    <link
      rel="stylesheet"
      href="<%= htmlWebpackPlugin.files.chunks.articles.css %>"
      type="text/css"
    />
    <link
      rel="icon"
      href="<%=require('./favicon.png').default%>"
      type="image/ico"
    />
  </head>
  <body>
    <div class="root">
      <header class="header root__section">
        <div class="header__navigation">
          <p class="header__logo header__logo">NewsExplorer</p>
          <nav class="header__nav">
            <ul class="header__list">
              <li class="header__item">
                <a
                  href="./index.html"
                  class="link header__link_color_black header__link"
                  >Главная</a
                >
              </li>
              <li class="header__item">
                <a
                  href="./articles.html"
                  class="link header__link header__link_color_black header__link_active-black"
                  >Сохранённые статьи</a
                >
              </li>
              <li class="header__item">
                <a
                  href="#"
                  class="link header__link_color_black header__link header__link_border-black header__link_logout"
                  >Грета<img
                    class="header__logout"
                    src="<%=require('./images/Union.png').default%>"
                    alt="icon of logout"
                /></a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="header__line header__line_color_black"></div>

        <section class="header__articles root__section">
          <h2 class="header__articles-title">Сохранённые статьи</h2>
          <p class="header__articles-amount">
            Грета, у вас 5 сохранённых статей
          </p>
          <p class="header__articles-text-keywords">
            По ключевым словам:
            <span class="header__articles-keywords"
              >Природа, Тайга и 2 другим</span
            >
          </p>
        </section>
      </header>

      <section class="results root__section">
        <div class="results__container">
          <div class="article">
            <div class="article__image">
              <p class="article__keyword">Природа</p>
              <button class="article__icon article__icon_type_delete"></button>
              <p class="article__tip">Убрать из сохранённых</p>
            </div>
            <div class="article__description">
              <p class="article__date">2 августа, 2019</p>
              <h3 class="article__title">Национальное достояние - парки</h3>
              <p class="article__text">
                В 2016 году Америка отмечала важный юбилей: сто лет назад здесь
                начала складываться система национальных парков – охраняемых
                территорий, где и сегодня каждый может приобщиться к природе.
              </p>
              <p class="article__source">Лента.ру</p>
            </div>
          </div>
          <div class="article">
            <div class="article__image">
              <p class="article__keyword">Природа</p>
              <button class="article__icon article__icon_type_delete"></button>
            </div>
            <div class="article__description">
              <p class="article__date">2 августа, 2019</p>
              <h3 class="article__title">Национальное достояние - парки</h3>
              <p class="article__text">
                В 2016 году Америка отмечала важный юбилей: сто лет назад здесь
                начала складываться система национальных парков – охраняемых
                территорий, где и сегодня каждый может приобщиться к природе.
              </p>
              <p class="article__source">Лента.ру</p>
            </div>
          </div>
          <div class="article">
            <div class="article__image">
              <p class="article__keyword">Природа</p>
              <button class="article__icon article__icon_type_delete"></button>
            </div>
            <div class="article__description">
              <p class="article__date">2 августа, 2019</p>
              <h3 class="article__title">Национальное достояние - парки</h3>
              <p class="article__text">
                В 2016 году Америка отмечала важный юбилей: сто лет назад здесь
                начала складываться система национальных парков – охраняемых
                территорий, где и сегодня каждый может приобщиться к природе.
              </p>
              <p class="article__source">Лента.ру</p>
            </div>
          </div>
          <div class="article">
            <div class="article__image">
              <p class="article__keyword">Природа</p>
              <button class="article__icon article__icon_type_delete"></button>
            </div>
            <div class="article__description">
              <p class="article__date">2 августа, 2019</p>
              <h3 class="article__title">Национальное достояние - парки</h3>
              <p class="article__text">
                В 2016 году Америка отмечала важный юбилей: сто лет назад здесь
                начала складываться система национальных парков – охраняемых
                территорий, где и сегодня каждый может приобщиться к природе.
              </p>
              <p class="article__source">Лента.ру</p>
            </div>
          </div>
          <div class="article">
            <div class="article__image">
              <p class="article__keyword">Природа</p>
              <button class="article__icon article__icon_type_delete"></button>
            </div>
            <div class="article__description">
              <p class="article__date">2 августа, 2019</p>
              <h3 class="article__title">Национальное достояние - парки</h3>
              <p class="article__text">
                В 2016 году Америка отмечала важный юбилей: сто лет назад здесь
                начала складываться система национальных парков – охраняемых
                территорий, где и сегодня каждый может приобщиться к природе.
              </p>
              <p class="article__source">Лента.ру</p>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer root__section">
        <p class="footer__copyright">© 2020 Supersite, Powered by News API</p>
        <div class="footer__soc-links">
          <ul class="footer__block">
            <li class="footer__item-link">
              <a href="#" class="link footer__link">Главная</a>
            </li>
            <li class="footer__item-link">
              <a href="#" class="link footer__link">Яндекс.Практикум</a>
            </li>
          </ul>
          <ul class="footer__block">
            <li class="footer__item-icon">
              <a href="#" class="footer__icon"
                ><img
                  src="<%=require('./images/github.png').default%>"
                  alt="icon of github"
              /></a>
            </li>
            <li class="footer__item-icon">
              <a href="#" class="footer__icon"
                ><img
                  src="<%=require('./images/fb.png').default%>"
                  alt="icon of facebook"
              /></a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
    <script src="<%= htmlWebpackPlugin.files.chunks.articles.entry %>"></script>
  </body>
</html>
